table, th, td{
    border : 1px solid black;
    border-collapse: collapse;
}
th, td{
    padding:5px;
}
body{
    background-image: url("im/aac47997d1f700b9dbd0af658368120e.jpg");
    margin: 0px;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(55, 43, 225);
    color: White;
    padding: 15px;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 10px;
    list-style: none;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.login_form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}
.login_form form{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: blue;
    padding: 10px;
}
form h6{
    color: white;
    font-size: large;
    margin: 0px;
}
